build/
install/
log/
*.pyc
.vscode/browse.vc.db
.vscode/browse.vc.db-shm
.vscode/browse.vc.db-wal
.vscode/ipch/
**/.vscode/browse.vc.db
**/.vscode/browse.vc.db-shm
**/.vscode/browse.vc.db-wal
**/.vscode/ipch/
*.zip